.fa-ul {
  .fa-li {
    .far {
      color: #A6CD01;
    }
  }
}
.pointer {
  position: relative;
  padding-right: 80px;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 0 45px 80px;
    border-color: transparent transparent transparent #fd7640;
  }
}
.text-center {
  text-align: center;
}
.section{
  padding-top: $base-spacing*3;
  padding-bottom: $base-spacing*3;
  &.section-gray {
    background-color: $light-gray;
  }
  &.align-center {
    .row {
      align-items: center;
    }
  }
  h3 {
    font-size: modular-scale(4);
    font-weight: 400;
  }
}
.form{
  border: 10px solid rgba(255,255,255,0.25);
  margin: 0 auto;
  border-radius: $base-border-radius;
  box-shadow: 0 0 60px rgba(0,0,0,0.25);
  background-color: #fff;
  @include padding($base-spacing);
  h4 {
    text-align: center;
    font-size: modular-scale(2);
    margin-top: 0;
    font-weight: 400;
  }
  h5 {
    text-align: center;
    font-size: modular-scale(1);
    margin-top: 0;
    font-weight: 800;
  }
  *[type=submit] {
    @extend .button;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.hero {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  .row {
    align-items: center;
  }
  h2 {
    font-size: modular-scale(4);
    font-weight: 700;
  }
  p {

  }
}
