#site-footer {
  #call-to-action {
    padding-top: $base-spacing*2;
    padding-bottom: $base-spacing*2;
    background-color: $primary-color;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        display: flex;
        align-items: center;
        padding-left: $small-spacing;
        padding-right: $small-spacing;
        color: $light-gray;
        img {
          margin-right: $small-spacing;
        }
      }
    }
  }
  #colophon {
    text-align: center;
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
    span {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
