#site-header {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;
  background-color: white;
  transition: all $base-duration $base-timing;
  position: relative;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  #contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      margin-right: $small-spacing;
    }
  }
}
