form {
  .form-row {
    position: relative;
    margin-bottom: $base-spacing;
    &:last-child {
      margin-bottom: 0;
    }
    label{
      position: absolute;
      top: $small-spacing/2;
      left: $small-spacing;
      transition: all $base-duration $base-timing;
      color: $medium-gray;
      font-weight: 400;
      line-height: 1.2;
      &.active {
          top: -$base-spacing*0.75;
          left: 0;
          font-size: modular-scale(-1);
      }
    }
  }
}
